<div class="container">
    <div class="row">
        <div class="col">
            <h2>Admin Dasboard</h2>
        </div>
        <div class="p-3">
            <h4 class="eniac-text"><i class="fa-solid fa-users"></i> Total Users : {{users}}</h4>
            <h4 class="eniac-text"><i class="fa-solid fa-boxes-packing"></i> Total Orders : {{orderCount}}</h4>
            <h4 class="eniac-text"><i class="fa-solid fa-laptop"></i> Total Products : {{productCount}}</h4>
            <h4 class="eniac-text"><i class="fa-solid fa-tags"></i> Total Coupons : {{couponCount}}</h4>
        </div>
    </div>
    <!-- row -->
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block">
                <h2 class="tm-block-title">Total Orders</h2>
                <canvas id="lineChart"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block">
                <h2 class="tm-block-title">Weeky Sales</h2>
                <canvas id="barChart"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller">
                <h2 class="tm-block-title">Payment Method</h2>
                <div id="pieChartContainer">
                    <canvas id="pieChart" class="chartjs-render-monitor" width="200" height="200"></canvas>
                </div>
            </div>
        </div>
        

    </div>
</div>

</div>