<div class="container-fluid login-cont">
    <div class="sub-container">
        <div class="inner">
            <form action="" method="post">
                <h2 class="text-center">ADMIN</h2>
                <input class="form-control" type="text" name="email" placeholder="enter mail id" required>
                <br>
                <input class="form-control" type="password" name="password" placeholder="enter password" required>
                <button class="cust-btn mt-2">Login</button>
                <br>
                <span class="text-danger">{{message}}</span>
            </form>
        </div>
    </div>
</div>