<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <button data-text="Awesome" class="button">
                <span class="actual-text">&nbsp;eniac&nbsp;</span>
                <span class="hover-text" aria-hidden="true">&nbsp;eniac&nbsp;</span>
            </button>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="home">
                        <h5>Dashboard</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="products">
                        <h5>Products</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="users">
                        <h5>Users</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="category">
                        <h5>Category</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="banner">
                        <h5>Banner</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="orders">
                        <h5>Orders</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="coupons">
                        <h5>Coupons</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="reports">
                        <h5>Reports</h5>
                    </a>
                </li>
                
            </ul>
            <form class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    

                    <a class="logbutton text-decoration-none text-white " data-bs-toggle="modal" href="#exampleModalToggle"
                        role="button">Logout
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>

                        </div>
                    </a>
                    

                </ul>
            </form>
            
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" data-bs-backdrop="static"
                data-bs-keyboard="false" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h5> <strong>Are you sure to Logout ?</strong></h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a class="btn btn-danger" href="/admin/logout" role="button">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>