






<footer class="text-center text-white" style="background-color:  rgb(105, 12, 162)">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <h6 class="text-uppercase mb-4 font-weight-bold">
                eniac
            </h6>
        </section>
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i
                    class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i
                    class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i
                    class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i
                    class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i
                    class="fab fa-linkedin-in"></i></a>
            <!-- Github -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#!" role="button"><i
                    class="fab fa-github"></i></a>
        </section>
        <section class="mb-4">
            <a href="mailto:jarinmeethal@gmail.com" class="text-white text-decoration-none"><i
                    class="fas fa-envelope mr-3"></i>jarinmeethal@gmail.com</a>


            
        </section>
        <section class="mb-4">
            


            <a href="tel:+918848518328" class="text-white text-decoration-none"><i class="fas fa-phone mr-3"></i> +91
                8848518328</a>

            
        </section>
        <section class="mb-4">
            

            <a href="tel:+919562314251" class="text-white text-decoration-none"><i class="fas fa-phone mr-3"></i> +91
                9562314251</a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white text-decoration-none" href="https://mdbootstrap.com/">eniacEcommerce.online</a>
    </div>
    <!-- Copyright -->
</footer>