<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">

<body class="loading">
    
    <h1 class="theh" >404</h1>
    <h2 class="thehh" >Unexpected Error <b>:(</b><br><a href="/errorback" style="text-decoration: none; color: rgb(105, 12, 162);">
    <i class="fa fa-long-arrow-left"></i><strong>Back To Home</strong></a></h2>
    
    <div class="gears">
        <div class="gear one">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear two">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear three">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script>
        $(function () {
            setTimeout(function () {
                $('body').removeClass('loading');
            }, 1000);
        });

    </script>
</body>