<div class="container-fluid login-cont">
    <div class="sub-container">
        <div class="inner">
            <form action="" method="post">
                <h1 class="text-center">eniac</h1>
                <br>
                <span class="text-danger">{{message}}</span>
                <br>
                <input type="email" class="form-control" id="email" name="email"
                    placeholder=" Enter your registered email" required="">
                <br>
                <input type="submit" value="submit" class="btn btn-dark ">
            </form>
        </div>
    </div>
</div>