











<section style="background-color: #d1cbcb;">
  <div class=" p-5 container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div>
              <div>
                
                {{#each user}}
                <div class="row g-0">
                  
                  <div class="col-md-4 animated-border text-center "
                    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; border-top-right-radius: .5rem; border-bottom-right-radius: .5rem;">
                    <img
                      src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/user-male-circle-blue-512.png"
                      alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                    <h3 class="text-dark" >{{name}}</h3>
                    <a href="/editprofile" class="text-dark"><i class="far fa-edit mb-5"></i></a>
                    <div class="p-3" >
                      <a class="btn the-userbutton" href="/changepassword">Change Password</a>
                      
                    </div>
                    

                  </div>
                  <div class="col-md-8">
                    <div class="card-body p-4">
                      <p class="text-center h1  mb-5 mx-1 mx-md-4 mt-4">Profile</p>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6>Email</h6>
                          <p class="text-muted">{{email}}</p>
                          <h6>Wallet Balance</h6>
                          <p class="text-muted">₹{{wallet}}</p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Phone</h6>
                          <p class="text-muted">{{mobile}}</p>
                        </div>
                      </div>

                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <a class="btn the-userbutton" href="/savedaddress">Address</a>

                        </div>
                        <div class="col-6 mb-3">
                          <a class="btn the-userbutton" href="/myorders">Orders</a>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                {{/each}}


                
                


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




















